body{
  background-image: url(../img/background.jpg);
	background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
}

h1 {
  font-size: 45px;
  color: black;
  margin: 0 auto;
}
.button{
  color: black;
  background-color: transparent;
  border: 3px solid black;
}


.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  height: 300px;
  width: 300px;
}
